@font-face {
  font-family: 'InstrumentSerif-Regular';
  src: url('../fonts/InstrumentSerif-Regular.ttf') format('truetype'),
    url('../fonts/InstrumentSerif-Regular.woff') format('woff');
}
@font-face {
  font-family: 'InstrumentSerif-Italic';
  src: url('../fonts/InstrumentSerif-Italic.ttf') format('truetype'),
    url('../fonts/InstrumentSerif-Italic.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../fonts/WorkSans-Regular.ttf') format('truetype'),
    url('../fonts/WorkSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'WorkSans-Italic';
  src: url('../fonts/WorkSans-Italic.ttf') format('truetype'),
    url('../fonts/WorkSans-Italic.woff') format('woff');
}

:root {
  --bodyBackground: #F7F6F2;
  --mainColor: #202020;
  --accentColor: #0C06FE;
  --borderStyleStroke: 1px solid var(--mainColor);
}
html, body {
  padding: 0%;
  margin: 0%;
  background-color: var(--bodyBackground);
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 800px) {
  :root {
    --pagePadding: 7%;
  }
}
@media screen and (min-width: 801px) {
  :root {
    --pagePadding: 10%;
  }
}