@font-face {
  font-family: 'InstrumentSerif-Regular';
  src: url('../fonts/InstrumentSerif-Regular.ttf') format('truetype'),
    url('../fonts/InstrumentSerif-Regular.woff') format('woff');
}
@font-face {
  font-family: 'InstrumentSerif-Italic';
  src: url('../fonts/InstrumentSerif-Italic.ttf') format('truetype'),
    url('../fonts/InstrumentSerif-Italic.woff') format('woff');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../fonts/WorkSans-Regular.ttf') format('truetype'),
    url('../fonts/WorkSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'WorkSans-Italic';
  src: url('../fonts/WorkSans-Italic.ttf') format('truetype'),
    url('../fonts/WorkSans-Italic.woff') format('woff');
}

:root {
  --bodyBackground: #F7F6F2;
  --mainColor: #202020;
  --accentColor: #0C06FE;
  --secondaryColor: #948DF3;
  --borderStyleStroke: 1px solid var(--mainColor);
  --contentPadding: 20px;
}
html, body {
  padding: 0%;
  margin: 0%;
  background-color: var(--bodyBackground);
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mediumBlueText {
  color: var(--accentColor);
  font-family: InstrumentSerif-Regular;
  font-size: 1.5em;
}
.smallGrayText {
  color: #8d8d8de8;
  font-family: WorkSans-Italic;
}

.carrousel_controls {
  font-family: WorkSans-Regular;
  text-transform: uppercase;
  color: var(--accentColor);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}.carrousel_controls button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 800px) {
  :root {
    --pagePadding: 7%;
  }
}
@media screen and (min-width: 801px) {
  :root {
    --pagePadding: 10%;
  }
}