.ctn_subtitle {
    display: flex;
    font-weight: 400;
    height: 50px;
    margin-top: 50px;
}.ctn_subtitle > div:first-of-type{
    font-family: WorkSans-Regular;
    text-transform: uppercase;
    background-color: var(--accentColor);
    color: var(--bodyBackground);
    padding-left: var(--pagePadding);
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}.ctn_subtitle > div:not(:first-of-type){
    font-family: WorkSans-Italic;
    color: var(--mainColor);
    padding: 0px 30px;
    border: var(--borderStyleStroke);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#ctn_outstandingArticle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0px var(--pagePadding);
}
.outstanding_article {
    padding: 10px 20px;
} .outstanding_article:nth-of-type(2n + 1) > .description {
    display: none;
} .outstanding_article:nth-of-type(3), .outstanding_article:nth-of-type(4) {
    background-color: var(--mainColor);
} .outstanding_article:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1;
} .outstanding_article:nth-of-type(2) {
    background-color: var(--accentColor);
    grid-row: 1 / 3;
    grid-column: 2;
} .outstanding_article:nth-of-type(3) {
    grid-row: 1;
    grid-column: 3;
} .outstanding_article:nth-of-type(4) {
    grid-row: 2 / 4;
    grid-column: 1;
} .outstanding_article:nth-of-type(5) {
    grid-row: 3;
    grid-column: 2;
} .outstanding_article:nth-of-type(6) {
    grid-row: 2 / 4;
    grid-column: 3;
}
 .dateAndPlus p {
    color: #8d8d8dc2;
}
.plusButton {
    padding: 10px;
    border: var(--borderStyleStroke);
    border-radius: 100%;
    line-height: 0;
}

@media screen and (max-width: 800px) {
    .ctn_subtitle {
        flex-direction: column;
    }.ctn_subtitle > div:first-of-type{
        width: 50%;
    }.ctn_subtitle > div:not(:first-of-type){
        padding-left: var(--pagePadding);
        width: 100%;
    }
}
@media screen and (min-width: 801px) {
    .ctn_subtitle {
        flex-direction: row;
        align-items: center;
    }.ctn_subtitle > div:first-of-type{
        width: 25%;
    }.ctn_subtitle > div:not(:first-of-type){
        padding-left: 30px;
    }    
}