/*WELCOME*/
#welcome {
    height: 80vh;
    margin-top: calc(4vh + 20px); /*leave a margin equal to nav height*/
    background-color: var(--secondaryColor);
    width: 100%;
    font-size: 4em;
} #welcome p {
    padding: 0%;
    margin: 0%;
}

/*Subtitles*/
.ctn_subtitleSecondType {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn_subtitleSecondType > div {
    height: 50px;
    width: 350px;
    text-align: center;
    color: var(--accentColor);
    border-left: var(--borderStyleStroke);
    border-top: var(--borderStyleStroke);
    border-right: var(--borderStyleStroke);
}

.ctn_subtitle, .ctn_subtitleSecondType {
    display: flex;
    font-weight: 500;
    margin-top: 100px;
    font-family: WorkSans-Regular;
    text-transform: uppercase;
}.ctn_subtitle > div:first-of-type{
    background-color: var(--accentColor);
    color: var(--bodyBackground);
    padding-left: var(--pagePadding);
    width: 25%;
    display: flex;
    align-items: center;
}.ctn_subtitle > div:not(:first-of-type){
    font-family: WorkSans-Italic;
    color: var(--mainColor);
    padding: 0px 30px;
    border: var(--borderStyleStroke);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/*Featured*/
.outstanding_article {
    padding: 10px var(--contentPadding);
}
.dateAndPlus {
    color: #8d8d8de8;
    margin-top: 15px;
}
.tags {
    text-transform: lowercase;
} .outstanding_article:not(:nth-of-type(2)) .tags {
    color: var(--accentColor);
}
.plusButton img{
    padding: 0px;
    width: 25px;
} .outstanding_article:nth-of-type(2n + 1) > .ctn_description {
    display: none;
} .tags, .ctn_description, .dateAndPlus {
    font-family: WorkSans-Regular;
} .authors {
    font-family: WorkSans-Italic;
    margin-bottom: 20px;
    margin-top: 10px;
} .title {
    font-family: InstrumentSerif-Regular;
    line-height: 1em;
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 0px;
} .ctn_description {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
} .description {
    margin-top: 0px;
}

.outstanding_article:nth-of-type(2) {
    background-color: var(--accentColor);
} .outstanding_article:nth-of-type(3), .outstanding_article:nth-of-type(4) {
    background-color: var(--mainColor);
} .outstanding_article:nth-of-type(3) > p:not(.tags), .outstanding_article:nth-of-type(4) > p:not(.tags), .outstanding_article:nth-of-type(2) > p:not(.tags), .outstanding_article:nth-of-type(2) .ctn_description, .outstanding_article:nth-of-type(4) .ctn_description {
    color: var(--bodyBackground);
} .outstanding_article:nth-of-type(1), .outstanding_article:nth-of-type(5), .outstanding_article:nth-of-type(6) {
    background-color: var(--bodyBackground);
}

/*WRITERS*/
.ctn_writers {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px;
    border-left: var(--borderStyleStroke);
    border-top: var(--borderStyleStroke);
    border-right: var(--borderStyleStroke);
} .writerProfileImg {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: var(--borderStyleStroke);
} .writerProfiles, .writerInfo {
    text-wrap: nowrap;
    text-align: center;
} .writerProfiles, .writerInfo {
    padding: 20px var(--contentPadding);
} .writerInfo  {
    border-top: var(--borderStyleStroke);
    border-bottom: var(--borderStyleStroke);
} .writerName {
    color: var(--accentColor);
    font-family: InstrumentSerif-Regular;
    font-size: 1.5em;
} .writerBio {
    background-color: var(--accentColor);
    padding: 0px var(--contentPadding);
    color: var(--bodyBackground);
    overflow: hidden;
    height: 0;
    transition: all .6s ease-in-out;
} .slideDown {
    height: 400px;
}

@media screen and (max-width: 800px) {
    .ctn_subtitleSecondType > div {
        width: 100%;
    }
    .ctn_subtitle {
        flex-direction: column;
    } .ctn_subtitle > div {
        height: 50px;
    }
    .ctn_subtitle > div:first-of-type{
        width: 50%;
    }.ctn_subtitle > div:not(:first-of-type){
        padding-left: var(--pagePadding);
        width: 100%;
    }
    .outstanding_article:nth-of-type(1), .outstanding_article:nth-of-type(5), .outstanding_article:nth-of-type(6) {
        box-sizing: border-box;
        border-left: var(--borderStyleStroke);
        border-bottom: var(--borderStyleStroke);
        border-right: var(--borderStyleStroke);
    }
    
    .writerProfiles, .writerInfo, .writerBio {
        width: 80vw;
        max-width: 350px;
    } .ctn_writers {
        padding-left: var(--contentPadding);
    }
    
}
@media screen and (min-width: 801px) {
    .ctn_subtitleSecondType > div {
        width: 350px;
    }
    .ctn_subtitle {
        height: 50px;
    } .ctn_subtitle > div {
        height: 100%;
    }
    .ctn_subtitle {
        flex-direction: row;
        align-items: center;
    }.ctn_subtitle > div:first-of-type{
        width: 25%;
    }.ctn_subtitle > div:not(:first-of-type){
        padding-left: 30px;
    }
    
    /*Featured*/
    #ctn_outstandingArticle {
        margin: 0px var(--pagePadding);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1px;
        grid-auto-rows: minmax(100px, auto);
        background-color: var(--mainColor);
    }
    .outstanding_article {
        box-sizing: border-box;
        outline: var(--borderStyleStroke);
    }
    /*grid placement*/
    .outstanding_article:nth-of-type(1) {
        grid-row: 1;
        grid-column: 1;
    } .outstanding_article:nth-of-type(2) {
        grid-row: 1 / 3;
        grid-column: 2;
    } .outstanding_article:nth-of-type(3) {
        grid-row: 1;
        grid-column: 3;
    } .outstanding_article:nth-of-type(4) {
        grid-row: 2 / 4;
        grid-column: 1;
    } .outstanding_article:nth-of-type(5) {
        grid-row: 3;
        grid-column: 2;
    } .outstanding_article:nth-of-type(6) {
        grid-row: 2 / 4;
        grid-column: 3;
    }
    
    .writerProfiles, .writerInfo, .writerBio {
        width: 350px;
    } .ctn_writers {
        padding-left: var(--pagePadding);
    }
}